* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #f3f0e9;
    color: #000000;
    line-height: 1.6;
}

/* Typography */
h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.424rem;
}

p {
    font-size: 16px;
}

/* Header */
header {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
}

.main-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.nav a:hover {
    color: #d69e3d;
}


.hero {
    position: relative;
    background-image: url('../images/hero-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
}

.hero h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}


.btn,
.t-btn,
.b-btn {
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.t-btn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.b-btn {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}


.btn:hover {
    background-color: #d69e3d;
    color: #ffffff;
    border-color: #ffffff;
}

.t-btn:hover {
    background-color: #fffff1;
    color: #000000;
    border-color: #ffffff;
}

.b-btn:hover {
    background-color: #d69e3d;
    color: #ffffff;
    border-color: #000000;
}


.wrapper,
.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.large-img,
.small-img {
    width: 100%;
}

.small-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


.offers,
.menu,
.about,
.explore,
.testimonials {
    padding: 50px 20px;
    text-align: center;
}

.otxt {
    color: #d69e3d;
}

.line {
    border: 0;
    height: 1px;
    background-color: white;
}


.footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

@media (min-width: 768px) {

    h1 {
        font-size: 2.986rem;
    }

    h2 {
        font-size: 2.488rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    p {
        font-size: 1rem;
    }

    .nav {
        gap: 30px;
    }

    .main-nav {
        padding: 20px 40px;
    }

    .grid-layout {
        grid-template-columns: 1fr 1fr;
    }

    .small-img {
        grid-template-columns: repeat(2, 1fr);
    }

    .offer-grid,
    .about-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    .testimonial-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }
}

@media (min-width: 1099px) {

    h1 {
        font-size: 3.815rem;
    }

    h2 {
        font-size: 3.052rem;
    }

    h3 {
        font-size: 1.953rem;
    }

    p {
        font-size: 1rem;
    }

    .offer-grid {
        justify-content: space-between;
    }
}