
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
    background-color: #f3f0e9;
    color: #000000;
    line-height: 1.6;
}header {
    background-color: #000000;
    color: #ffffff;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}
.logo img {
    width: 150px;
    margin-bottom: 10px;
}
.nav {
    display: flex;
    gap: 20px;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.hero {
    position: relative;
    background-image: url('../images/hero-background.jpg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.hero-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
}
.hero h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn,
.t-btn,
.b-btn {
    display: inline-block;
    padding: 5px 20px; 
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    font-weight: bold;
}

.btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    
}

.t-btn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    
}

.b-btn {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

/* Hover Effects */
.btn:hover{
    background-color:#d69e3d; 
    color: #ffffff; 
    border-color: #ffffff; 

}


.t-btn:hover{
    background-color: #ffffff; 
    color: #000000; 
    border-color: #ffffff; 

}

.b-btn:hover {
    background-color:#d69e3d; 
    color: #ffffff; 
    border-color: #000000; 
}


.intro {
text-align: left;
}

.explore,
.about,
.testimonials {
    padding: 20px;
    text-align: center;
}

.testimonials{
    background-color: #000000;
    color: #ffffff;
}
.explore{
    color: #ffffff;
}
.orangep{
    color: #d69e3d;
}
.intro img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.gallery {
    padding: 20px;
    text-align: center;
}
.gallery .content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.gallery img {
    width: 100%;
    height: auto;
}
#about {
    padding: 20px;
    text-align: center;
}
#about .content-wrapper {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}
#about img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
.features {
    background-color: #f8f4ee;
    padding: 20px;
    text-align: center;
}
.features h2 {
    font-size: 1.802rem;
}
.feature-item {
    margin-bottom: 20px;
}
.feature-item img {
    width: 100px;
    
}
.explore {
    background-image: url('../images/coffee-shop.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
    text-align: center;
}
.testimonial-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    
}

.testimonial-item {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.testimonial-item img {
    width: 100%;
    height: auto;
    
    
}

.testimonial-content {
    position: absolute;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

blockquote {
    color: white;
    text-align: left;
}

.customer-name {
    margin-top: 10px;
    font-weight: bold;
    color: #d69e3d;
}



.line {
    width: 80%; 
    margin: 0 auto; 
    color: red;
}

.footer {
    background-color:black;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.027rem;
    }
    h2 {
        font-size: 1.802rem;
    }
    h3 {
        font-size: 1.424rem;
    }
    p {
        font-size: 16px;
    }
}



/* @media only screen and (min-width: 768px) {

    
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}
.logo img {
    width: 150px;
}
.nav {
    display: flex;
    gap: 20px;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
} */


}